body {
  padding-top: 0px;
  background-image:;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#header {
  padding: 0px 0px 20px 0px;
  text-align: left;
  font-family: "Georgia", "Serif";
  font-style: oblique;
  font-size: 30px;
  color: #7a5252;
}

.chatbox {
    text-align: center;
    white-space: normal;
    font-size: 18;
    font-family: 'Lato', sans-serif;
}

textarea {
    width: 60%;
    height: 450px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f7f7f7;
    resize: none;
}

input {
    width: 60%;
    height: 10px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f7f7f7;
    resize: none;
}

a.transparent-input {
   background-color: rgba(0, 0, 0, 0);
   border-color: white;
   color: white !important;
   font-size: 14;
   margin-bottom: 1%;
}

#world {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}
#world img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  opacity: 0.8;
}