body {
  padding-top: 0px;
  background-image:;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.9;
}

#header {
  padding: 0px 0px 20px 0px;
  text-align: left;
  font-family: "Georgia", "Serif";
  font-style: oblique;
  font-size: 30px;
  color: #7a5252;
}

.chatbox {
    text-align: center;
    white-space: normal;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}

#chat
