.picture {
    width: 45px;
    border-radius: 50%;
}

.navbar-default {
    background-color: #0e0e0e !important;
    border-color: black;
}

.navbar-brand {
    padding-top: 20px !important;
    font-size: 42px !important;
    font-family: 'Hammersmith One', sans-serif;
    color: #f9f9f4 !important;
}

.navbar-default .navbar-nav>li>a {
    font-size: 20px;

}

#img-circle {
    border-radius: 3%;
}

.top-buffer { 
    margin-top: 80px;
    margin-left: 5px;
    margin-bottom: 100px !important;
 }

button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    color: white;
    background-size: 50px;
}

.glyphicon.glyphicon-user {
    font-size: 24px;
    padding-top: 4px;
    padding-left: 14px;
    padding-bottom: 1%;
}

a.transparent-input {
   background-color: rgba(0, 0, 0, 0);
   border-color: white;
   color: white !important;
   font-size: 14;
}

ul.dropdown-menu {
    top: 32px !important;
    left: 25%;
}