.picture {
    width: 45px;
    border-radius: 50%;
}

.navbar-default {
    background-color: #0e0e0e !important;
    border-color: #e7e7e7;
}

.navbar-brand {
    padding-top: 20px !important;
    font-size: 42px !important;
    font-family: 'Hammersmith One', sans-serif;
}

.navbar-default .navbar-nav>li>a {
    font-size: 20px;

}

#img-circle {
    border-radius: 3%;
}