<!DOCTYPE html>
<html lang="en">
<head>
  <title>Babilim</title>
 

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Hammersmith+One|Lato" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
  <link href="/static/css/dashboard.css" rel="stylesheet">

  <script type="text/javascript">
    $(document).ready(function() {
      namespace = '/chat';
      var socket = io.connect('http://'+ document.domain + ':' + location.port + namespace);
      
      {% if "user_name" in session %}
        socket.on('connect', function() {
          socket.emit('join', {'room': '{{ session.user_name }}'});
        });
      {% endif %}

      

      socket.on('chat_request', function(msg){
        console.log(msg);
        if (window.confirm("Message from: " + msg.sender))
        window.open('/chat')
      });
    });
      
  </script>

</head>
<body>

{% if "user_id" in session %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/dashboard">Babilim</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#user_profile">View/Update My Profile</a></button></li>
            <li class="dropdown">
              <input id="search_input" data-toggle="dropdown" type="search" class="form-control" placeholder="Search People" autofocus="autofocus" autocomplete="off" style="width: 250px; height: 33px">
              <ul class="dropdown-menu dropdown-menu-left" role="menu" id="search_results">
              </ul>
            </li>
            <li><button type="button" id="search-button" class="btn btn-default btn-md glyphicon glyphicon-search"></button>
            </li>
            <li><a href="/logout" id="logout" class="btn btn-sm transparent-input">Log Out</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
  </div><!-- /.container-fluid -->
  {% endif %}


   
        <!-- Flashed messages show up here -->
  <div class="container-fluid">
    <div id="flash-container">
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endfor %}
        {% endwith %}
    </div>
  </div>

    <script>
        var flashContainer = document.getElementById('flash-container');
            setTimeout(function() {
                while (flashContainer.firstChild) {
                    flashContainer.removeChild(flashContainer.firstChild);
                }
            }, 1500);
    </script>


{% block body %} 
  Body content goes here! 
{% endblock %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>

