<!DOCTYPE html>
<html lang="en">
<head>
  <title>Babilim</title>
 

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Hammersmith+One" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
  <script src="jquery.tokeninput.js"></script>
  <link rel="stylesheet" type="text/css" href="token-input.css" />
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
  <link href="/static/css/dashboard.css" rel="stylesheet">

  <script type="text/javascript">
    $(document).ready(function() {
      namespace = '/chat';
      var socket = io.connect('http://'+ document.domain + ':' + location.port + namespace);
      
      {% if "user_name" in session %}
        socket.on('connect', function() {
          socket.emit('join', {'room': '{{ session.user_name }}'});
        });
      {% endif %}

      

      socket.on('chat_request', function(msg){
        console.log(msg);
        if (window.confirm("Message from: " + msg.sender))
        window.open('/chat')
      });
    });
      
// alert("Message from: " + msg.sender);
  </script>

</head>
<body>

<!--         {% if "user_id" in session %}
        <li>
          <a href="/logout">Log Out</a>
          <a href="/dashboard">Dashboard</a>

        </li>
        {% endif %} -->
      <!--Navigation code adapted from Bootstrap example-->
{% if "user_id" in session %}
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="/dashboard"><img src="/static/img/logo-globe.jpg" class="globe-logo" width="32px"></a> -->
          <a class="navbar-brand" href="/dashboard">Babilim</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="navbar" class="navbar-collapse collapse">
          
          <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left">
              <div class="form-group">
                <label>
                <input type="text" autocomplete="off" class="form-control" placeholder="Search People" id="search" list="result"></input>
                <datalist id="result"></datalist>
                <!-- <ul class="result" id="result">
                </ul> -->
                <!-- <div id="placeholder"></div> -->
              </div>
              <button type="submit" class="btn btn-default btn-md" id="search-button" aria-label="Click to search"><span id="search-people" class='glyphicon glyphicon-search' aria-hidden='true'></span></button>
              <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#user_profile">Update/View Profile</a></button>
            </form>
            <li><a href="/logout">Log Out</a>
          </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
  </div><!-- /.container-fluid -->
  {% endif %}


   
        <!-- Flashed messages show up here -->
  <div class="container-fluid">
    <div id="flash-container">
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endfor %}
        {% endwith %}
    </div>
  </div>

    <script>
        var flashContainer = document.getElementById('flash-container');
            setTimeout(function() {
                while (flashContainer.firstChild) {
                    flashContainer.removeChild(flashContainer.firstChild);
                }
            }, 1500);
    </script>


{% block body %} 
  Body content goes here! 
{% endblock %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>

