<!DOCTYPE html>
<html lang="en">
<head>
  <title>Babilim</title>
 

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery.js"></script>

</head>
<body>
    <ul class="nav navbar-nav navbar-left">
        {% if "user_id" in session %}
        <li><a href="/logout">Log Out</a></li>
        {% endif %}
    </ul>

   
        <!-- Flashed messages show up here -->
        {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endfor %}
        {% endwith %}


{% block body %} 
    Body content goes here! 
{% endblock %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>

