{% extends 'base.html' %}
{% block content %}
<!-- The dashboard will provide users access to their profile page?
A way to filter:
First choice to make: language user wants to learn
2nd choioce: language partner is looking to learn
3rd choice: city they're in


In 2.0 - Access to their list of people favorited?
In 2.0 - An access area to chat with people. -->

<html>
<head>
    <title>Search Partners</title>
</head>
<body>
    <h1>Welcome {{ user.full_name }}</h1>
    <h2>Search for a Language Partner</h2>
    <p>Find your partner by selecting your languages and city.</p>




</body>
</html>

{% endblock %}
