

{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<!--     <input type="search" name="search" id="search" placeholder="Search People">
    <button id="search-button" i class="glyphicon glyphicon-search"></button>
    <div id="placeholder"></div> -->

<script type="text/javascript" src="/static/js/twitter-bootstrap.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>

{% include 'my_profile.html' %}

    <script>

    function showUser(result) {
        console.log(result['users']);
        if (result['users'].length === 0) {
            $('#result').html("No user found");
        }   else {
                for (var i = 0; i < result['users'].length; i++){
                    new_user = '<a href="/user/'+result['users'][i][0]+'">'+result['users'][i][1]+"</a><br>"
                    console.log(new_user);
                    
                    $('#result').append('<a href="/user/'+result['users'][i][0]+'">'+result['users'][i][1]+"</a><br>")
                }
            }
    }

    function getPeople(evt) {

        $('#result').html("");
        if ($('#search').val() === ""){
            $('#result').html("");
        }
        else {
            var data = {
             "search": $('#search').val()
             };
            $.get('/get_user.json', data, showUser);
        }
    }
    $("#search").on('keyup', getPeople);
    $("#search-button").on('click', getPeople);


    </script>

    <div class="container-fluid">
        <div class="row" id="main-row">
            <section class="col-xs-12 col-md-6 col-lg-6 main" id="main">
                <img src="{{ user.profile_photo }}" width="60%" class="img-responsive center-block" id="img-circle">
            </section>
            <section class="col-xs-12 col-md-6 col-lg-6 main" id="main">
                <h2>Welcome, {{ user.full_name }}!</h2><br>
                <p>Connect with new friends by selecting the language you're learning<br> and the city of your choice. You'll be matched with people who are fluent in the language you're learning and are in turn learning the language in which you're fluent.</p>
                </br>
                <div class="filter-group">
                    <label>
                        <select class="selectpicker" data-width="300px" name="lang_learn" id="lang_learn">
                            {% for language in languages %}
                                <option value = "{{ language.lang_id }}">
                                    {{ language.lang_name }}
                                </option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
                <br>
                <div class="filter-group">
                    <label>
                        <select name="city" id="city" class="selectpicker" data-width="300px">
                            <option value="San Francisco">San Francisco</option>
                            <option value="San-Jose">San Jose</option>
                            <option value="Oakland">Oakland</option>
                            <option value="Fremont">Fremont</option>
                            <option value="Santa-Rosa">Santa Rosa</option>
                            <option value="Berkeley">Berkeley</option>
                        </select>
                    </label>
                </div>
                <br>
                <div class="filter-group">
                    <button type="button" class="btn btn-info btn-md" id="filter">Filter Users</button><br>
                </div>
                <br>
            </section>
        </div>
        <div class="row" id="main-row">
            <section class="col-xs-12 col-md-6 col-lg-6 col-lg-offset-6" id="secondary-view">
                <div id="user-output-area" box-sizing="border-box"></div><!-- Matched profiles appear here -->
            </section>
        </div>       
    </div>
                

    

    <script>

    function showProfiles(results) {
        if (results.length === 0) {
            $('#user-output-area').html("No Users Found");
        }
        for (var i = 0; i < results.length; i++){
            var profile = '<a href="/user/'+results[i]["user_id"]+'">'+'<img class="picture" src='+results[i]["photo"]+'>' +"  "+results[i]["name"]+" | "+results[i]['city']+"</a><br><br>"
            
            $('#user-output-area').append(profile);
        }
    }

    function getProfiles(evt) {
        var match_profiles = {
            "lang_learn": $('#lang_learn').val(),
            "city": $('#city').val()
        };
        console.log("something");
        $('#user-output-area').html(" ");
        $.get('/find_matches.json', match_profiles, showProfiles);
    }

    $("#filter").on('click', getProfiles);
    $("#profile_photo").on ('click', getProfiles);


    </script>


{% endblock %}