<html>
<head>
    <title>My Profile</title>
</head>
<body>
     

  <!-- modal window, will show user info on initial click -->
  <div class="modal fade" id="user_profile" tabindex="-1" role="dialog" aria-labelledby="user_label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header overlay">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="user_label">{{ user.full_name }}</h3>
        </div>
        <div class="modal-body overlay">
          <div class="exisiting_profile">
            <div class= "row">
              <div class ="col-xs-12 col-sm-12 col-md-8">
                {% if user.user_bio %}
                  <h3> About me:</h3><h4>{{ user.user_bio }}</h4></br>
                {% endif %}           
                <br>
              </div> <!-- column -->
            </div> <!-- row -->
          </div> <!-- exsisting profile -->

          <!-- Hide user info, show user update form -->
            <div class="update_profile">
              
              <form action="/user_profile_update" method="POST" id="update_user_submit"enctype="multipart/form-data">
                
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-10 form-group">
                    
                    
                    <h3>Tell us about yourself</h3>

                    <p><b>Currently:</b></p><i>{{ user.user_bio }}</i>
                    <br>
                    <br>
                    <label>Update:</label>
                    <textarea class="form-control" rows = 6 name="user_bio"></textarea>
                    <br>
                    <button class="btn btn-default profile_submit" type="submit">Update Your Profile</button>
                    <a data-dismiss="modal" aria-label="Close" class="invite_cancel">Cancel</a>
                    <br>
                  </div> <!-- form group -->
                </div><!--   row  -->
              </form>
            </div> <!-- update profile  -->
          </div> <!-- modal-body  -->
        </div><!--  modal content -->
      </div> <!-- modal dialog -->
    </div>  <!-- end of modal -->


</body>
</html>
