<html>
<head>
    <title>My Profile</title>
</head>
<body>
     

  <!-- modal window, will show user info on initial click -->
    <div class="modal fade" id="user_profile" tabindex="-1" role="dialog" aria-labelledby="user_label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="user_label">{{ user.full_name }}</h3>
                </div>
                <div class="modal-body">     
                    <form action="/user_profile_update" method="POST" id="update_user_submit"> 
                        <label for="full_name">Full Name:</label>
                            <input type="text" name="full_name" id="full_name" class="form-control" value="{{ user.full_name }}" required><br>
                        <label for="email">Email:</label>
                            <input type="email" value="{{ user.email }}" name="email" class="form-control" required><br>
                        <label for="username">Username:</label>
                            <input type="text" value="{{ user.username }}" name="username" class="form-control" required><br>
                        <label for="age">Age:</label>
                            <input type="number" value="{{ user.age }}" name="age" class="form-control"><br>
                        <label for="city">City:</label>
                            <select name="city" required>
                                <option selected value="{{ user.city }}">{{ user.city }}</option>
                                <option value="San Francisco">San Francisco</option>
                                <option value="San-Jose">San Jose</option>
                                <option value="Oakland">Oakland</option>
                                <option value="Fremont">Fremont</option>
                                <option value="Santa-Rosa">Santa Rosa</option>
                                <option value="Berkeley">Berkeley</option>
                            </select><br><br>
                        <label for="zipcode">Zipcode:</label>
                            <input type="number" value="{{ user.zipcode }}" name="zipcode" class="form-control" required><br>
                        <label for="new_lang_learn">Update the language you're learning:</label>
                            <select name="new_lang_learn" required>
                                {% for language in languages %}
                                    <option selected="{{ languages.lang_id }}">{{ language.lang_name }}</option>
                                {% endfor %}
                            </select><br><br>
                        <label for="user_bio">Update your bio:</label>
                        <textarea class="form-control" placeholder="{{ user.user_bio }}" rows = 6 name="user_bio"></textarea><br>
                    <button class="btn btn-default profile_submit" type="submit">Update Your Profile</button>
                    <a data-dismiss="modal" aria-label="Close" class="invite_cancel">Cancel</a>
                    <br>
              </form>
            </div> <!-- update profile  -->
          </div> <!-- modal-body  -->
        </div><!--  modal content -->
      </div> <!-- modal dialog -->
    </div>  <!-- end of modal -->


</body>
</html>
