{% extends 'base.html' %}
{% block content %}
<div class="well spaced" style="width:40%;">
<h1>Sign Up</h1>

<form action="/signup" method="POST">

    <div class="form-group">
        <label>
            Full Name
            <input type="text" value="Yusra" name="full_name" class="form-control" required>
        </label>
    </div>
    <br>
    <div class="form-group">
        <label>
            Email
            <input type="email" value="yusra@yusra.com" name="email" class="form-control" required>
        </label>
    </div>
    <br>
    <div class="form-group">
        <label>
            Username
            <input type="text" value="yusra" name="username" class="form-control" required>
        </label>
    </div>
    <br>
    <div class="form-group">
        <label>
            Password
            <input type="password" value="yusra" name="password" class="form-control" required>
        </label>
    </div>
    <br>
    <div class="form-group">
        <label>
            Age
            <input type="number" value="29" name="age" class="form-control">
        </label>
    </div>
    <br>
    <div class="form-group">
        <label>
            City
            <select name="city" required>
                <option selected value="San-Francisco">San Francisco</option>
                <option value="San-Jose">San Jose</option>
                <option value="Oakland">Oakland</option>
                <option value="Fremont">Fremont</option>
                <option value="Santa-Rosa">Santa Rosa</option>
                <option value="Berkeley">Berkeley</option>
            </select>
        </label>
    </div>
    <br>
    <div class="form-group">
        <label>
            Zipcode
            <input type="number" value="94123" name="zipcode" class="form-control" required>
        </label>
    </div>
    <br>
    <div class="form-group">
        <label>
            Which language are you learning?
            <select name="lang_learn" required>
                {% for language in languages %}
                    <option value = "{{ language.lang_id }}">{{ language.lang_name }}</option>
                {% endfor %}
            </select>
            <p>*Please provide us with one language you're learning currently. If you're learning more than one language, you'll be able to add those language options later in your profile page.</p>
        </label>
    </div>
    <br>
    <div class="form-group">
        <label>
            Select the first language in which you're fluent:
            <select name="lang_fluent" required>
                {% for language in languages %}
                    <option value = "{{ language.lang_id }}">
                        {{ language.lang_name }}
                    </option>
                {% endfor %}
            </select>
            <p>*Please provide us with one language you're fluent in. You'll be able to add additional languages later in your profile page.</p>
        </label>
    </div>
    <br>
    <div class="form-group">
        <label>
            <p>Please share a little about yourself:</p>
            <div>
                <textarea name="user-bio"></textarea>
            </div>
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Register" class="btn btn-danger">
    </div>

</form>
</div>
{% endblock %}