<html>
<head>
    <title>Signup Form</title>
</head>
<body>
    <!-- <div style="display:inline"> -->
    <div class="modal fade" id="SignupModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Sign up form</h4>
                </div>
                <div class="modal-body">
                    <form id="signup" action="/signup" method="POST">
                        <label>
                            Full Name
                            <input type="text" value="Yusra" name="full_name" class="form-control" required>
                        </label>
                        <label>
                            Email
                            <input type="email" value="yusra@yusra.com" name="email" class="form-control" required>
                        </label>
                        <label>
                            Username
                            <input type="text" value="yusra" name="username" class="form-control" required>
                        </label>
                        <label>
                            Password
                            <input type="password" value="yusra" name="password" class="form-control" required>
                        </label>
                        <label>
                            Age
                            <input type="number" value="29" name="age" class="form-control">
                        </label>
                        <label>
                            City
                            <select name="city" required>
                                <option selected value="San-Francisco">San Francisco</option>
                                <option value="San-Jose">San Jose</option>
                                <option value="Oakland">Oakland</option>
                                <option value="Fremont">Fremont</option>
                                <option value="Santa-Rosa">Santa Rosa</option>
                                <option value="Berkeley">Berkeley</option>
                            </select>
                        </label>
                        <label>
                            Zipcode
                            <input type="number" value="94123" name="zipcode" class="form-control" required>
                        </label>
                        <label>
                            Which language are you learning?
                            <select name="lang_learn" required>
                                {% for language in languages %}
                                    <option value = "{{ language.lang_id }}">{{ language.lang_name }}</option>
                                {% endfor %}
                            </select>
                            <p>*Please provide us with one language you're learning currently. If you're learning more than one language, you'll be able to add those language options later in your profile page.</p>
                        </label>
                        <label>
                            Select the first language in which you're fluent:
                            <select name="lang_fluent" required>
                                {% for language in languages %}
                                    <option value = "{{ language.lang_id }}">
                                        {{ language.lang_name }}
                                    </option>
                                {% endfor %}
                            </select>
                            <p>*Please provide us with one language you're fluent in. You'll be able to add additional languages later in your profile page.</p>
                        </label>
                        <label>
                            <p>Please share a little about yourself:</p>
                            <div>
                                <textarea name="user-bio"></textarea>
                            </div>
                        </label>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button submit" form="signup" class="btn btn-primary">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->

</body>
</html>

<script>
function showRegistration(result) {
    alert(result);
}
function submitRegistration(evt) {
    evt.preventDefault():
    var formValues = $("#signup").serialize();
    $.post("/signup", formValues, showRegistration);
}
$("#signup").on("signup", submitRegistration);
// Redundant jquery code? Talk to Katie about this later.
</script>