<html>
<head>
    <title>Signup Form</title>
</head>
<body>
<!-- <div style="display:inline"> -->
    <div class="modal fade" id="SignupModal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Sign up form</h4>
                </div>
                <div class="modal-body">
                    <form id="signup" action="/signup" method="POST">
                        <label>
                            Full Name
                            <input type="text" placeholder="Full Name" name="full_name" class="form-control" required>
                        </label>
                        <label>
                            Email
                            <input type="email" placeholder="Email" name="email" class="form-control" required>
                        </label>
                        <label>
                            Username
                            <input type="text" placeholder="Username" name="username" class="form-control" required>
                        </label>
                        <label>
                            Password
                            <input type="password" placeholder="Password" name="password" class="form-control" required>
                        </label>
                        <label>
                            Age
                            <input type="number" placeholder="Age" name="age" class="form-control">
                        </label>
                        <label>
                            City
                            <select name="city" required>
                                <option value=" "></option>
                                <option value="San Francisco">San Francisco</option>
                                <option value="San Jose">San Jose</option>
                                <option value="Oakland">Oakland</option>
                                <option value="Fremont">Fremont</option>
                                <option value="Santa Rosa">Santa Rosa</option>
                                <option value="Berkeley">Berkeley</option>
                            </select>
                        </label>
                        <label>
                            Zipcode
                            <input type="text" placeholder="Zipcode" name="zipcode" class="form-control" required>
                        </label>
                        <label>
                            Select one language you're currently learning:
                            <select name="lang_learn" required>
                                {% for language in languages %}
                                    <option value = "{{ language.lang_id }}">{{ language.lang_name }}</option>
                                {% endfor %}
                            </select>
                        </label>
                        <label>
                            Select the first language in which you're fluent:
                            <select name="lang_fluent" required>
                                {% for language in languages %}
                                    <option value = "{{ language.lang_id }}">
                                        {{ language.lang_name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </label>
                        <label>
                            <p>Please share a little about yourself:</p>
                            <div>
                                <textarea name="user_bio" cols="50" rows="5"></textarea>
                            </div>
                        </label>
                        <br>
                        <label>
                            <p>Please provide an image url for your profile photo:</p>
                                <input id="text" name="profile_photo" size="60" class="form-control" placeholder="Profile Photo URL">
                        </label>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button submit" form="signup" class="btn btn-success">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->

</body>
</html>
