{% extends 'base.html' %}
{% block body %}
<br>
<div class="well spaced" style="width:97%">
  <h2>{{ user.full_name }}</h2>

    <p style="color:blue">Age: {{ user.age }}</p>
    <p style="color:blue">City: {{ user.city }}</p>
    <p style="color:blue">Bio: {{ user.user_bio }}</p>

    <!-- <button type="button" class="btn btn-info btn-md" onclick="location.href='{{ user.email }}';">Send Email</a></button> -->

    <a href="mailto:{{ user.email }}">Send Email</a></button>

    <button id="chat">Chat with User</button>
    <script type="text/javascript">
        $(document).ready(function() {
          namespace = '/chat';
          var socket = io.connect('http://'+ document.domain + ':' + location.port + namespace);

          // socket.on('connect', function() {
          //   socket.emit('join', { room: '{{ user.username }}' });

            $("#chat").on("click", function() {
                socket.emit('initiate_chat',
                    {
                        user: '{{ user.username }}',
                        data: {
                            sender: "{{ session.user_name }}",
                            text: "whatever"
                        }
                    }
                );
                document.location="/test_chat";
            });
          // });
        });

    </script>

    <!-- <form action="mailto:{{ user.email}}" method="post"               enctype="text/plain">
    Name:<br>
    <input type="text" name="name"><br>
    E-mail:<br>
    <input type="text" name="mail"><br>
    Comment:<br>
    <input type="text" name="comment" size="50"><br><br>
    <input type="submit" value="Send">
    <input type="reset" value="Reset"> -->


<!-- User profiles would have:
(1.0 Ability to send an email)
(2.0, add to friends then chat?)
(3.0, map showing zipcode area of user)-->
{% endblock %}