{% extends 'base.html' %}
{% block content %}
<br>
<div class="well spaced" style="width:97%">
<!-- User profiles: if user is logged in they themselves would be able to see their 
own profile along with a way to edit?

If user clicks on a different user they'd be able to see their info along with a 
map of where they are on a map.

User profiles would have:
(1.0 Ability to send an email)
(2.0, add to friends then chat?)

Name, location, language skills, language learning, bio -->




    <div class="form-group">
        <label>
            <p>Please share a little about yourself:</p>
            <div>
                <textarea name="user-bio"></textarea>
            </div>
        </label>
    </div>

    <!-- put in hidden value -->


{% endblock %}
