{% extends 'base.html' %}
{% block body %}
<br>
<div class="well spaced" style="width:97%">
  <h2>{{ user.full_name }}</h2>

<div id="prof_lft_col">
    <div id="prof_pic"><img src="{{ user.profile_photo }}" width='20%'></div>
</div>
    <p style="color:blue">Age: {{ user.age }}</p>
    <p style="color:blue">City: {{ user.city }}</p>
    <p style="color:blue">Bio: {{ user.user_bio }}</p>

    <a href="mailto:{{ user.email }}">Send Email</a></button>

    <button id="chat">Chat with User</button>
    <script type="text/javascript">
        $(document).ready(function() {
          namespace = '/chat';
          var socket = io.connect('http://'+ document.domain + ':' + location.port + namespace);

          {% if "user_name" in session %}
            $("#chat").on("click", function() {
                socket.emit('initiate_chat',
                    {
                        user: '{{ user.username }}',
                        data: {
                            sender: "{{ session.user_name }}",
                            text: "whatever"
                        }
                    }
                );
                window.open("/test_chat");
            });
          {% endif %}
        });

    </script>

{% endblock %}